/* ==UserStyle==
@name UserStyle (l2eused)
@namespace github.com/l2eused/UserStyleForBrowser
@homepageURL https://github.com/l2eused/UserStyleForBrowser
@version 24.02.19.1
@description work in progress....
@author l2eused

@prepocessor stylus
==/UserStyle== */



/*==================
    Custom Styles
====================
/**/

/* inu-manga.com */
@-moz-document domain("inu-manga.com") {
    .r.npv > .nextprev > *:not(:active,:hover) {
        color: rgb(22, 21, 29) !important;
    }
    .scrollToTop {
        color: rgb(22, 21, 29) !important;
    }
    .fb_iframe_widget_lift {
        width: 100% !important;
    }
    .inepcx a[href] span {
        color: rgb(22, 21, 29) !important;
    }
}

/* manga168.com */
@-moz-document domain("manga168.com") {
    div#content:not([class]) {
        margin-top: 10px !important;
        padding-bottom: 10px !important;
    }
    div#content:has([class]) {
        padding-bottom: 10px !important;
    }
    div#footer {
        margin-top: 0px !important;
    }
}

/* สดใสเมะ.com xn--l3c0azab5a2gta.com */
@-moz-document domain("xn--l3c0azab5a2gta.com") {
    .fb_iframe_widget_lift {
        width: 100% !important;
    }
    .r.npv > .nextprev > *:not(:active,:hover) {
        color: rgb(22, 21, 29) !important;
    }
}

/* rh2plusmanga.com */
@-moz-document domain("rh2plusmanga.com") {
    div.profile-manga {
        background-image: none !important;
        background-color: transparent !important;
    }
}

/* toomtam-manga.com */
@-moz-document domain("toomtam-manga.com") {
    html {
        background-color: black;
    }
    div#content {
        padding-bottom: 10px !important;
    }
}

/* miku-doujin.com */
@-moz-document domain("miku-doujin.com") {
    html {
        background-color: black !important;
    }
}

/* nekopost.net */
@-moz-document domain("nekopost.net") {
    div.card.bg-white.svelte-5e2uqe:has([id="remark42"] > iframe[src*="nekopost"]) {
        background-color: rgb(228,231,240) !important;
    }
}



/*=================
    Other Styles
===================
/**/

/* bookmark highlight */
@-moz-document domain("spy-manga.com"),
domain("god-doujin.com"),
domain("toomtam-manga.com"),
domain("toonhunter.com") {
    #menu-main.menu a[href$="/bookmark/"][itemprop="url"] {
        color: #f5a97f !important;
    }
}
@-moz-document domain("manga168.com") {
    #menu-menu.menu a[href$="/bookmark/"][itemprop="url"] {
        color: #f5a97f !important;
    }
}

/* color menu text */
@-moz-document domain("inu-manga.com"),
domain("xn--l3c0azab5a2gta.com") {
    .menu [href] > span {
        color: lavender;
    }
}