/* ==UserStyle==
@name UserStyle (l2eused)
@namespace github.com/l2eused/UserStyleForBrowser
@homepageURL https://github.com/l2eused/UserStyleForBrowser
@version 24.03.02.1
@description work in progress....
@author l2eused

@preprocessor stylus

@var select devices "Devices" ["none:Non Specific*", "mobile:Mobile", "pc:Computer"]
@var checkbox long-strip-on "Long Strip Mode" 0

==/UserStyle== */



/*==================
    Custom Styles
====================
/**/

/* inu-manga.com */
@-moz-document domain("inu-manga.com") {
    .r.npv > .nextprev > *:not(:active,:hover) {
        color: rgb(22, 21, 29) !important;
    }
    .scrollToTop {
        color: rgb(22, 21, 29) !important;
    }
    .fb_iframe_widget_lift {
        width: 100% !important;
    }
    .inepcx a[href] span {
        color: rgb(22, 21, 29) !important;
    }
}
/* fix image in readerarea */
@-moz-document domain("inu-manga.com") {
    #readerarea > div.displayImage:has(div[style*="top:nullpx;"],div[style*="left:nullpx;"]) {
        display: unset !important;
    }
    #readerarea > div.displayImage:has(div[style*="top:nullpx;"],div[style*="left:nullpx;"]) div {
        display: none;
    }
}

/* manga168.com */
@-moz-document domain("manga168.com") {
    div#content:not([class]) {
        margin-top: 10px !important;
        padding-bottom: 10px !important;
    }
    div#content:has([class]) {
        padding-bottom: 10px !important;
    }
    div#footer {
        margin-top: 0px !important;
    }
}

/* สดใสเมะ.com xn--l3c0azab5a2gta.com */
@-moz-document domain("xn--l3c0azab5a2gta.com") {
    .fb_iframe_widget_lift {
        width: 100% !important;
    }
    .r.npv > .nextprev > *:not(:active,:hover) {
        color: rgb(22, 21, 29) !important;
    }
}

/* rh2plusmanga.com */
@-moz-document domain("rh2plusmanga.com") {
    div.profile-manga {
        background-image: none !important;
        background-color: transparent !important;
    }
}

/* toomtam-manga.com */
@-moz-document domain("toomtam-manga.com") {
    html {
        background-color: black;
    }
    div#content {
        padding-bottom: 10px !important;
    }
}

/* miku-doujin.com */
@-moz-document domain("miku-doujin.com") {
    html {
        background-color: black !important;
    }
}

/* nekopost.net */
@-moz-document domain("nekopost.net") {
    div.card.bg-white.svelte-5e2uqe:has([id="remark42"] > iframe[src*="nekopost"]) {
        background-color: rgb(228,231,240) !important;
    }
}



/*=================
    Other Styles
===================
/**/

/* bookmark highlight */
@-moz-document domain("spy-manga.com"),
domain("god-doujin.com"),
domain("toomtam-manga.com"),
domain("toonhunter.com") {
    #menu-main.menu a[href$="/bookmark/"][itemprop="url"] {
        color: #f5a97f !important;
    }
}
@-moz-document domain("manga168.com") {
    #menu-menu.menu a[href$="/bookmark/"][itemprop="url"] {
        color: #f5a97f !important;
    }
}

/* color menu text */
@-moz-document domain("inu-manga.com"),
domain("xn--l3c0azab5a2gta.com") {
    .menu [href] > span {
        color: lavender;
    }
}



/*====================
    Devices - Mobile
======================
/**/

/* if mobile */
if devices == mobile {
    
    /*==================
        Custom Styles
    ====================
    /**/
    
    /* rh2plusmanga.com */
    @-moz-document domain("rh2plusmanga.com") {
        .c-top-second-sidebar.c-sidebar {
            padding-bottom: 0px !important;
            padding-top: 0px !important;
        }
        .widget_text.row div:has(iframe[src*="page.php"]) {
            text-align: center !important;
        }
    }
    
    /* sing-manga.com */
    @-moz-document domain("sing-manga.com") {
        span.mobilelogo {
            margin-top: 0px !important;
        }
    }
    
    /* inu-manga.com */
    @-moz-document domain("inu-manga.com") {
        div.fb-comments > span > iframe {
            background-color: white !important;
        }
        div.fb-comments {
            background: transparent !important;
        }
    }
    
    /* kingsmanga.net */
    @-moz-document domain("kingsmanga.net") {
        .reader-content .post-content > img {
            width: 1000px !important;
            height: auto !important;
        }
    }
    
    /* nekopost.net */
    @-moz-document domain("nekopost.net") {
        div.layout-helper.svelte-ixpqjn button {
            width: 35px !important;
            height: 35px !important;
            padding: 0px !important;
        }
        div.chapter-content.svelte-ixpqjn div.t-center.item-content > p.text-page.text-center.svelte-ixpqjn {
            margin-bottom: 10px !important;
            font-size: 16px !important;
            color: #9295A4 !important;
        }
    }
    
    
    
    /*=================
        Other Styles
    ===================
    /**/
    
    /* readerarea width fit to screen */
    @-moz-document domain("manga168.com"),
    domain("weimanga.com") {
        div[id="readerarea"] > img.loaded:not([src$="/img/readerarea.svg"]) {
            width: 100% !important;
            height: auto !important;
        }
    }
}



/*================
    Var Settings
==================
/**/

/* long strip mode */
@-moz-document domain("nekopost.net") {
    if long-strip-on {
        div.mb-10:not(:last-of-type) {
            margin: 0;
        }
        div.mb-10 > .svelte-s3v0mx {
            margin: 0;
        }
        
        /* hide page number */
        div.mb-10 > .text-2xl {
            display: none;
        }
        
        /* remove border between page */
        div.mb-10:not(:nth-of-type(2)) > .svelte-s3v0mx img {
            border-top: 0 !important;
        }
        div.mb-10:not(:last-of-type) > .svelte-s3v0mx img {
            border-bottom: 0 !important;
        }
    }
}